!~/.xresources > imrahil@triceratopsarchaeoteryx
! > $xfontsel for selection
! no inline comments

! Applications without fontconfig support
Xft.antialias: 1
Xft.autohint: 0
Xft.hinting: 1
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault
Xft.rgba: rgb


! Emacs > moved somwhere else?
!Emacs.FontBackend: xft
!Emacs.font: Bitstream Vera Sans -18
!Emacs.font: xft:Bitstream Vera Sans Mono:size=12:antialise:true
!Emacs.font: -unknown-DejaVu Sans Mono-normal-normal-normal-*-*-*-*-*-m-0-iso10646-1
!Emacs*foreground:   #A89C8C
!Emacs*background:   #303030
!Emacs*cursorColor:  white
!Emacs*pointerColor: white


! urxvt (case sensitive) > ttps://wiki.archlinux.org/index.php/Rxvt-unicode
urxvt*termname: consolicus
urxvt*title: consolicus
urxvt*loginshell: true 
urxvt*scrollBar: false
! do not scroll with output
!URxvt*scrollTtyOutput: false
! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
!URxvt*scrollWithBuffer: true
! scroll back to the bottom on keypress
urxvt*scrollTtyKeypress: true
urxvt*saveLines: 10000
urxvt*pointerblank: true
urxvt*letterSpace: 0
urxvt*font: xft: Bitstream Vera Sans Mono:size=12
urxvt*boldFont: xft: Bitstream Vera Sans Mono:size=12:style=Bold
!Xterm escapes, word by word movement
!urxvt.keysym.Control-Left:    \033[1;5D
!urxvt.keysym.Control-Right:    \033[1;5C
urxvt.secondaryScreen: true
urxvt.secondaryScroll: false
urxvt.secondaryWheel: true
! If you do not use the Perl extension features, you can improve the security and speed by disabling Perl extensions completely.
urxvt.perl-ext:
urxvt.perl-ext-common:

! graphics
urxvt*iconFile: /usr/share/icons/Adwaita/scalable/apps/utilities-terminal-symbolic.svg
! borderless conflicts with something! awesome?
!urxvt*borderLess: true
urxvt*cursorBlink: false
! fake transparency
! Fade the text by the given percentage when focus is lost.
urxvt*fading: 30
urxvt*transparent: true
! 0 to 99 darkens, 101 to 200 lightens
urxvt*shading: 30
urxvt*buffered: true

! real transparency: much to annoying
!urxvt.depth: 32
!urxvt.background: [80]#000000
!or urxvt*background: rgba:0000/0000/0000/c900

! general colors > $colortheme 4 demo
urxvt*foreground: #A89C8C
urxvt*background: #241e1e
!urxvt*underlineColor:
!urxvt*scrollColor:
!urxvt*troughColor:
!urxvt*highlightColor:
!urxvt*highlightTextColor:
urxvt*cursorColor: magenta
!urxvt*cursorColor2:
urxvt*pointerColor: magenta
urxvt*pointerColor2: magenta
*color0:  #282a2b
*color1:  #AD513E
*color2:  #4C7D58
*color3:  #FFB200
!#a8ac35
*color4:  #B8CBE6
*color5:  #666699
*color6:  #8caff0
*color7:  #a8a8a8
*color8:  #2c2f30
*color9:  #E0671B
*color10: #31DE96
*color11: #dadf45
*color12: #3955c4
*color13: #6698D9
*color14: #9bbaf1
*color15: #f0f0f0

! *color0: "#1d1f21" --> Default Background
! *color1: "#282a2e" --> Lighter Background (Used for status bars)
! *color2: "#373b41" --> Selection Background
! *color3: "#969896" --> Comments, Invisibles, Line Highlighting
! *color4: "#b4b7b4" --> Dark Foreground (Used for status bars)
! *color5: "#c5c8c6" --> Default Foreground, Caret, Delimiters, Operators
! *color6: "#e0e0e0" --> Light Foreground (Not often used)
! *color7: "#ffffff" --> Light Background (Not often used)
! *color8: "#CC342B" --> Variables, XML Tags, Markup Link Text, Markup Lists, Diff Deleted
! *color9: "#F96A38" --> Integers, Boolean, Constants, XML Attributes, Markup Link Url
! *color10: "#FBA922" --> Classes, Markup Bold, Search Text Background
! *color11: "#198844" --> Strings, Inherited Class, Markup Code, Diff Inserted
! *color12: "#3971ED" --> Support, Regular Expressions, Escape Characters, Markup Quotes
! *color13: "#3971ED" --> Functions, Methods, Attribute IDs, Headings
! *color14: "#A36AC7" --> Keywords, Storage, Selector, Markup Italic, Diff Changed
! *color15: "#3971ED" --> Deprecated, Opening/Closing Embedded Language Tags, e.g. <?php ?>

! # foreground
! 0: 30, black
! 1: 31, red
! 2: 32, green
! 3: 33, yellow
! 4: 34, blue
! 5: 35, magenta
! 6: 36, cyan
! 7: 37, white
! 
! # background
!  8: 40, black
! 10: 41, red
! 11: 42, green
! 12: 43, yellow
! 13: 44, blue
! 14: 45, magenta
! 15: 46, cyan
! 16: 47, white
! 17: 48, default



