# /etc/systemd/system/rsnapshot-hourly.timer

[Unit]
Description=rsnapshot hourly backup

[Timer]
OnCalendar=*-*-* *:00:00
OnBootSec=30min
Unit=rsnapshot@hourly.service

[Install]
WantedBy=timers.target