# /etc/systemd/system/rsnapshot-weekly.timer

[Unit]
Description=rsnapshot weekly backup

[Timer]
# Run once per week on Monday at 13:00, hopefully after monthly backup finished 
OnCalendar=Mon *-*-* 13:00:00
OnBootSec=20m
Persistent=true
Unit=rsnapshot@weekly.service

[Install]
WantedBy=timers.target