# /etc/systemd/system/rsnapshot-monthly.timer

[Unit]
Description=rsnapshot monthly backup

[Timer]
## Run once per month at 12:00 UTC
OnCalendar=*-*-1 12:00:00
OnBootSec=15min
Persistent=true
Unit=rsnapshot@monthly.service

[Install]
WantedBy=timers.target