[Unit]
Description=rsnapshot backup service
OnFailure=/bin/notify-send -u critical "rsnapshotitself!"

[Service]
Type=oneshot
Nice=19
IOSchedulingClass=idle
ExecStart=/usr/bin/rsnapshot %I && /bin/notify-send -u normal "rsnapshotit!"