# /etc/systemd/system/rsnapshot-daily.timer

[Unit]
Description=rsnapshot daily backup

[Timer]
#  clock time when to start it, hopefully after weekly & monthly backups finished 
OnCalendar=14:00
Persistent=true
Unit=rsnapshot@daily.service

[Install]
WantedBy=timers.target