!~/.xresources > imrahil@triceratopsarchaeoteryx
! > $xfontsel for selection

! Applications without fontconfig support
Xft.antialias: 1
Xft.autohint: 0
Xft.hinting: 1
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault
Xft.rgba: rgb

! Emacs
!Emacs.FontBackend: xft
!Emacs.font: Bitstream Vera Sans Mono-12
!Emacs.font: xft:Bitstream Vera Sans Mono:size=12:antialise:true
!Emacs.font: -unknown-DejaVu Sans Mono-normal-normal-normal-*-*-*-*-*-m-0-iso10646-1
!Emacs*foreground:   #A89C8C
!Emacs*background:   #303030
!Emacs*cursorColor:  white
!Emacs*pointerColor: white

!urxvt (case sensitive)
urxvt*termname:  consolicus
urxvt*title: consolicus
urxvt*loginshell: true ! > ttps://wiki.archlinux.org/index.php/Rxvt-unicode
urxvt*scrollBar: false
urxvt*saveLines: 10000
urxvt*pointerblank: true
urxvt*letterSpace: 0
!urxvt*font: xft: Bitstream Vera Sans Mono:size=12
urxvt*font: xft:DejaVu Sans Mono:size=12
urxvt*boldFont: xft: Bitstream Vera Sans Mono:size=12:style=Bold
urxvt*foreground:       #A89C8C
urxvt*background:       #241e1e
urxvt*fading: 30	!Fade the text by the given percentage when focus is lost.
urxvt*transparent: true
urxvt*shading: 30	! 0 to 99 darkens, 101 to 200 lightens
urxvt*buffered: true

!alternative transparency
!urxvt*background: rgba:0000/0000/0000/c900
!urxvt.depth: 32
!urxvt.background: [95]#000000

! # foreground
! 0: 30, black
! 1: 31, red
! 2: 32, green
! 3: 33, yellow
! 4: 34, blue
! 5: 35, magenta
! 6: 36, cyan
! 7: 37, white
! 
! # background
!  8: 40, black
! 10: 41, red
! 11: 42, green
! 12: 43, yellow
! 13: 44, blue
! 14: 45, magenta
! 15: 46, cyan
! 16: 47, white
! 17: 48, default

!colors > $colortheme 4 demo
*color0:  #282a2b
*color1:  #AD513E
*color2:  #4C7D58
*color3:  #a8ac35
*color4:  #B8CBE6
*color5:  #666699
*color6:  #8caff0
*color7:  #a8a8a8
*color8:  #2c2f30
*color9:  #E0671B
*color10: #31DE96
*color11: #dadf45
*color12: #3955c4
*color13: #6698D9
*color14: #9bbaf1
*color15: #f0f0f0
